.tags-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  background-color: #fdfcfc;
  min-width: fit-content;
  min-height: 40px;
  max-height: auto;
  padding: 13px;
  cursor: text;
}

.tag {
  padding: 4px 10px;
  border-radius: 2px;
  font-size: 0.875rem;
  line-height: 18px;
  color: #666666;
  background-color: #f0f0f0;
  display: flex;
  gap: 8px;
  align-items: center;
}
.input-field {
  background-color: transparent;
  font-size: 0.875rem;
  color: #666666;
  border: none;
  outline: none;
}

.input-field::placeholder {
  color: #999999; /* equivalent to placeholder:text-shade */
}
